<app-admin-navbar></app-admin-navbar>
<div  class="container">  
    <form (ngSubmit)="onSubmit()" >
      <h2 style="margin-left: 27%;">Edit a New Product:</h2>
      
      <fieldset flex>
        <p style="font-size: 0.9rem; font-weight: 470;">ID:</p>  
        <input placeholder="Product ID" type="text" tabindex="3"  name="id" [value] = "product.id" [(ngModel)]="product.id" required autofocus>
      </fieldset>
      <fieldset>
        <p style="font-size: 0.9rem; font-weight: 470;">Name:</p>  
        <input placeholder="Product Name" type="text" tabindex="3"  name="name" [(ngModel)]="product.name" required>
      </fieldset>
      
      <fieldset>
        <p style="font-size: 0.9rem; font-weight: 470;">UNIT PRICE:</p>  
        <input placeholder="Product Unit Price" type="text" tabindex="3"  name="unitPrice" [(ngModel)]="product.unitPrice"  required>
      </fieldset>
      <fieldset>
        <p style="font-size: 0.9rem; font-weight: 470;">QUANTITY:</p>  
        <input placeholder="Product Quantity" type="text" tabindex="3" name="quantity" [(ngModel)]="product.quantity" required>
      </fieldset>
      <fieldset>
        <p style="font-size: 0.9rem; font-weight: 470;">IMAGE URL:</p>  
        <input placeholder="Product image-url" type="text" tabindex="3"  name="imageURL" [(ngModel)]="product.imageURL"  required>
      </fieldset>
      <fieldset>
       
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
      
    </form>
  </div>

<app-admin-footer></app-admin-footer>
