<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Start Bootstrap
                </a>
            </li>
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#">Shortcuts</a>
            </li>
            <li>
                <a href="#">Overview</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div  class="container">  
                    <form id="contact" action="" method="post" (ngSubmit)="onSubmit()" >
                      <h2 style="margin-left: 27%;">Add a New Product:</h2>
                      <fieldset>
                        <input placeholder="Product ID" type="text" tabindex="3"  name="id" [(ngModel)]="product.id" required autofocus>
                      </fieldset>

                      <fieldset>
                        <input placeholder="Catagory ID" type="text" tabindex="3"  name="catagoryId" [(ngModel)]="product.catagoryID" required autofocus>
                      </fieldset>

                      <fieldset>
                        <input placeholder="Product Name" type="text" tabindex="3"  name="name" [(ngModel)]="product.name" required>
                      </fieldset>
                      

                      <fieldset>
                        <input placeholder="Product Brand" type="text" tabindex="3"  name="brand" [(ngModel)]="product.brand" required>
                      </fieldset>
                      <fieldset>
                        <input placeholder="Product Unit Price" type="text" tabindex="3"  name="unitPrice" [(ngModel)]="product.unitPrice"  required>
                      </fieldset>
                      <fieldset>
                        <input placeholder="Product Quantity" type="text" tabindex="3" name="quantity" [(ngModel)]="product.quantity" required>
                      </fieldset>
                      <fieldset>
                        <input placeholder="Product image-url" type="text" tabindex="3"  name="imageURL" [(ngModel)]="product.imageURL"  required>
                      </fieldset>
                       
                      <fieldset>
                        <input placeholder="Product Trending" type="text" tabindex="3"  name="imageURL" [(ngModel)]="product.isTrending"  required>
                      </fieldset>

                      <fieldset>
                        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
                      </fieldset>
                      
                    </form>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->