<app-navbar [totalAddedQuantity]="0"></app-navbar>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootdey">
<div class="row bootstrap snippets">
    <div class="col-lg-3 col-md-3 col-sm-12">
      
    </div>
    <div class="clearfix visible-sm"></div>

    <!-- Cart -->
    <div class="col-lg-9 col-md-9 col-sm-12">
        <div class="col-lg-12 col-sm-12">
            <h3 class="title m-4" style="color: blueviolet;text-align: center;">My Orders:</h3>
        </div>
        <div class="col-lg-12 col-sm-12 hero-feature">
            <div class="table-responsive">
                <table class="table table-bordered tbl-cart">
                    <thead>
                        <tr>
                            <td class="hidden-xs header">Image</td>
                            <td class="header">Product Name</td>
                           
                            <td class="header">Brand</td>
                            <td class="td-qty header">Quantity</td>
                            <td class="header">Unit Price</td>
                            <td class="header">Sub Total</td>
                            
                        </tr>
                    </thead>
                    <tbody *ngFor="let op of orderProducts">
                       
                        <tr>
                            <td class="hidden-xs">
                                <a href="#">
                                    <img src="{{op.imageURL}}" alt="Adidas Men Red Printed T-shirt" title="" width="47" height="47">
                                </a>
                            </td>
                            <td class="medium-font">{{op.name}}</td>
        
                            
                            <td class="medium-font">
                                {{op.brand}}
                            </td>
                           
                            <td class="medium-font">
                                <div class="input-group bootstrap-touchspin">                              
                                   {{op.quantity}}
                            </div>
                            </td>
                            <td class="price medium-font">$ {{op.unitPrice}}</td>
                            <td class="medium-font">${{op.subtotal}}</td>
                           
                        </tr>
                        
                    </tbody>
                
                </table>
            </div>

        </div>
    </div>
    <!-- End Cart -->
</div>
</div>

<div  class="row justify-content-center">
       <h6 class="header" style="margin-left: 66rem;">Total:   <span class="price-info">${{total}}</span></h6>
       <h6 class="header" style="margin-left: 66rem;">Shipping:   <span class="price-info">${{shipping}}</span></h6>
       <h6 class="header" style="margin-left: 66rem;">Grand Total(Tax Included):   <span class="price-info">${{grandTotal}}</span></h6>
</div>


<app-footer></app-footer>
