<div class="overlay"></div>

<div class="utility-nav d-none d-md-block">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <p class="small"><i class="bx bx-envelope"></i> logo@example.com | <i class="bx bx-phone"></i> +91-9876543210
        </p>
      </div>

      <div class="col-12 col-md-6 text-right">
        <p class="small" style="margin-left: 21rem;">Free shipping on total of $99</p>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-md navbar-light bg-light main-menu" style="box-shadow:none">
  <div class="container">



    <a class="navbar-brand" href="#">
       <img style="height: 2rem; width: 3rem;"src="https://cdn.imgbin.com/3/2/13/imgbin-shopify-e-commerce-logo-business-business-MaHnPPk5U9ze4dtcFspZmL04h.jpg" alt="" srcset="">
    </a>

    <a routerLink="/">  <i style="font-size: 2rem;" class="bi bi-house-fill"></i>   </a>

    <ul class="navbar-nav ml-auto d-block d-md-none">
      
    </ul>

    <div class="collapse navbar-collapse">
      <form (ngSubmit)="onSubmit()" class="d-flex form-inline my-2 my-lg-0 mx-auto">
          <input class="form-control" type="search"  [(ngModel)]="inputVal" name="inputVal" placeholder="Search for products..." aria-label="Search">
          <button type="submit"><img style="height: 2rem; width: 3rem; margin-left: 0.8rem;" src="https://cdn-icons-png.flaticon.com/512/639/639375.png" alt=""> </button>
      </form>

      <ul class="navbar-nav">
       
        <li class="nav-item ml-md-3">
          <a routerLink="/cart">  <i style="font-size: 2rem;" class="bi bi-cart-fill"></i>   </a>
        </li>

        <li class="nav-item ml-md-3">
         
        </li>

       
      </ul>
    </div>

  </div>
</nav>

<div class="utility-nav d-none d-md-block"></div>


  

  
 

  
 
  