<app-navbar></app-navbar>

<app-slider></app-slider>


<h2 style="text-align:center; margin-top: 3rem;">Catagories</h2 >
<div id="catagory-section">
    <div  *ngFor="let index of arr">
        <app-catagory-item></app-catagory-item>
    </div>
</div>

<h2 style="text-align:center; margin-top: 3rem;">Trending</h2 >   
        <div class="d-flex ">
            <div  *ngFor="let index of [1,2,3, 4]">
                <app-product-item></app-product-item>
            </div>
        </div>
           
        

   

