<app-navbar></app-navbar>

<app-slider></app-slider>


<h2 style="text-align:center; margin-top: 3rem;">Catagories</h2 >
<div id="catagory-section">
    <div  *ngFor="let cat of catagories">
        <app-catagory-item 
              [name]="cat.name" [imageURL]="cat.imageURL"
              (click)="onCatClick(cat.id)"
        
        ></app-catagory-item>
    </div>
</div>

<h2 style="text-align:center; margin-top: 3rem;">Trending</h2 >   
        <div class="d-flex ">
            <div  *ngFor="let pr of trendingProducts">
                <app-product-item
                   [name]="pr.name"
                   [unitPrice]="pr.unitPrice"
                   [imageURL]="pr.imageURL"
                   [brand]="pr.brand"
                
                ></app-product-item>
            </div>
        </div>

<app-footer></app-footer>
           
        

   

