<app-admin-navbar></app-admin-navbar>

<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<div style="margin-top: 2rem; width: 100%;">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div  class="col-lg-8"><h2> Order List</h2></div>
                    
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 4rem;"> User ID</th>
                        <th style="width: 4rem;"> User Name</th>
                        
                        <th style="width: 4rem;">User Email</th>
                        <th style="width: 4rem;"> User Phone </th>    
                        <th style="width: 4rem;">User Address</th>
                        <th style="width: 4rem;">User Status</th>
                     

                    </tr>
                </thead>
                <tbody *ngFor="let user of users">
                    <tr *ngIf="user.roll == 'user' ">
                        <td>{{ user._id}}</td>
                        <td>{{ user.fullName }}</td>
                        <td>{{ user.email }}</td> 
                        <td>{{ user.phone }}</td>
                        <td>{{ user.address }}</td>
                        <td *ngIf="user.status=='Active' ">
                            {{ user.status }}
                           <button type="submit" (click)="onChangeStatus(user)">Set as Disabled</button>

                        </td>

                        <td *ngIf="user.status=='Disabled' ">
                            {{ user.status }}
                           <button type="submit" (click)="onChangeStatus(user)">Set as Active</button>

                        </td>
                       
                       
                    </tr>
                                  
                </tbody>
            </table>
        
        </div>
    </div>    
</div>  

<app-admin-footer></app-admin-footer>

